{% extends "bases/logged-in-base.html" %}

{% block title %}Assign Instructors{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css"/>
{% endblock %}

{% block scripts %}
{{ super() }}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
<script defer src="{{url_for('static', filename='js/assign-instructors.js')}}"></script>
{% endblock %}

{% block content %}

<h1>{{get_term_name(current_user.current_term)}}</h1>
<h3>Assign Courses</h3>

<form id="assign-instructors" action="/assign-instructors" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Instructor</th>
            {% if courses[0].num_requests is defined %}
            <th>Number of Requests</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>${{ course.cost }}</td>
            <td>
                <select id={{course.id}} class="selectpicker" data-live-search="true" name={{course.id}}>
                    <option id="-1"></option>
                    {% for instructor in instructors %}
                    {% if instructor.course_id == course.id %}
                    <option selected="selected" name="instructor_option">{{instructor.name}}</option>
                    {% else %}
                    <option name="instructor_option">{{instructor.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            {% if course.num_requests is defined %}
            <td>
                {{course.num_requests}}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-default" type="submit" id="save-instructor-assignments-button">Save Assignments</button>
</form>
{% endblock %}