<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Management Simulation</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/dropzone.css' )}}>
    <script src={{url_for('static', filename='js/lib/dropzone.js' )}}></script>
</head>
<body>

<form id="csv-upload" action="/csvs" method='POST' class="dropzone" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> <br>
</form>
<button type="button" id="upload-csv-button">Upload</button>

<script>
    function multiUploadDropzone(dropzoneName, successHandler, errorHandler) {
        Dropzone.options[dropzoneName] = {

            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,

            init: function() {
                var submitButton = document.getElementById('upload-csv-button')
                var courseUpload = this;

                submitButton.addEventListener("click", function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    courseUpload.processQueue();
                });

                this.on("success", function() {
                   this.options.autoProcessQueue = true;
                });

                this.on("sendingmultiple", function() {
                  // Gets triggered when the form is actually being sent.
                });

                this.on("successmultiple", successHandler);

                this.on("errormultiple", errorHandler);
            }
        };
    }

    multiUploadDropzone('csvUpload', (files, response) => {
                  // Gets triggered when the files have successfully been sent.
                  window.location = "{{url_for('assign_instructors')}}"
                });

</script>

</body>
</html>